<!DOCTYPE html>
<html>
<head>
    <title>系统集成</title>
    <%- include('common/pageConfig') %>
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <%- include('common/header') %>
    <%- include('common/navigation') %>
    <Main>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="index-welcome">
                <p class="index-welcome-sign">我先吃个饭status</p>
            </div>

        </div>
    </Main>
</div>
</body>
<%- include('common/script') %>
</html>
