<!DOCTYPE html>
<html>
<head>
    <title>系统集成</title>
    <%- include('common/pageConfig') %>
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/workflowEngineDataSourceConfiguration.css">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <%- include('common/header') %>
    <%- include('common/navigation') %>
    <Main>
        <div class="layui-body">
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <div class="bnt-box">
                        <a href="/workflowEngine/workflowEngineDataSourceConfiguration/create">
                            <button type="button" class="layui-btn">新建数据源</button>
                        </a>
                    </div>
                </div>
            </div>
            <!--包裹搜索条件的那部分card-->
            <div id="content-box">
                <div class="layui-row">
                    <div class="layui-col-xs12">
                        <div class="card-header-box">
                            搜索条件
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-xs12">
                        <div class="card-body-box">
                            <form class="layui-form" action="">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">数据源类型</label>
                                        <div class="layui-input-inline">
                                            <select name="modules" lay-verify="required" lay-search="">
                                                <option value="">all</option>
                                                <option value="1">mysql</option>
                                                <option value="2">oracle</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">数据源名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">已授权</label>
                                        <div class="layui-input-block">
                                            <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                                        </div>
                                    </div>
                                </div>
                                <!--按钮操作-->
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">搜索</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>----------------------------------</legend>
            </fieldset>
            <!--这个里面放的是数据源列表-->
            <div id="content-box">
                <div class="layui-row">
                    <div class="layui-col-xs12">
                        <div class="card-header-box">
                            数据源列表
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-xs12">
                        <div class="card-header-box">
                            <button type="button" class="layui-btn">搜索条件</button>
                        </div>
                    </div>
                </div>
            </div>


<!--            &lt;!&ndash; 内容主体区域 &ndash;&gt;-->
<!--            <div class="index-welcome">-->
<!--                <p class="index-welcome-sign">我先吃个饭,configuration</p>-->
<!--            </div>-->
        </div>
    </Main>
</div>



</body>
<%- include('common/script') %>

<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

        //表单赋值
        layui.$('#LAY-component-form-setval').on('click', function(){
            form.val('example', {
                "username": "贤心" // "name": "value"
                ,"password": "123456"
                ,"interest": 1
                ,"like[write]": true //复选框选中状态
                ,"close": true //开关状态
                ,"sex": "女"
                ,"desc": "我爱 layui"
            });
        });

        //表单取值
        layui.$('#LAY-component-form-getval').on('click', function(){
            var data = form.val('example');
            alert(JSON.stringify(data));
        });

    });
</script>

</html>
