.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.piday-bg-theme {
  background: #0077D9 !important;
}
.piday-btn-sm {
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  padding: 0 20px;
}
.piday-btn {
  color: #fff;
  background-color: #0077D9;
  border: 1px solid #0077D9;
}
.piday-btn:hover {
  opacity: 1;
  color: #fff;
  background-color: #1087E9;
  border: 1px solid #1087E9;
}
.piday-btn:active {
  opacity: 1;
  color: #046EC4;
  background-color: #046EC4;
  border: 1px solid #046EC4;
}
.piday-btn-primary {
  color: #0077D9;
  background-color: #fff;
  border: 1px solid #47A4F1;
}
.piday-btn-primary:hover {
  opacity: 1;
  color: #1087E9;
  border: 1px solid #55AFF9;
}
.piday-btn-primary:active {
  opacity: 1;
  color: #046EC4;
}
.layui-table-body .table-btn {
  color: #0077D9;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
.layui-table-body .table-btn.table-btn-disable {
  color: #C4C9CF;
  cursor: not-allowed;
}
.layui-table-page {
  height: 50px;
  padding: 7px 15px 0;
}
.layui-table-page .layui-laypage-piday a {
  border: 1px solid #D7DAE1;
  width: 32px;
  height: 32px;
  line-height: 32px;
  padding: 0;
  text-align: center;
  border-radius: 2px;
  margin-right: 8px;
  color: #595C64;
}
.layui-table-page .layui-laypage-piday span.layui-laypage-curr {
  border: 1px solid #0077D9;
  width: 32px;
  height: 32px;
  line-height: 32px;
  padding: 0;
  text-align: center;
  border-radius: 2px;
  margin-right: 8px;
  color: #0077D9;
}
.layui-table-page .layui-laypage-piday span.layui-laypage-curr em {
  color: #0077D9;
}
.layui-table-page .layui-laypage-piday span.layui-laypage-curr em.layui-laypage-em {
  background-color: #fff;
}
.layui-table-page .layui-laypage-piday span.layui-laypage-spr {
  margin-right: 8px;
}
.layui-table-page .layui-laypage-piday .layui-laypage-limits select {
  width: 92px;
  height: 32px;
  border-radius: 2px;
  background-color: #fff;
  padding: 0;
}
Header .layui-logo {
  text-align: left !important;
  padding-left: 28px;
}
Header .layui-logo a {
  color: #fff;
}
Header .layui-logo a .layui-logo-img {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
Header .layui-logo a .layui-logo-img img {
  width: 100%;
}
Header .layui-nav .layui-nav-item span {
  color: #fff;
}
Sidebar .layui-side {
  width: 216px !important;
}
Sidebar .layui-side .layui-side-scroll {
  width: 216px;
  padding-top: 20px;
}
Sidebar .layui-side .layui-side-scroll .layui-nav {
  background-color: #fff;
  color: #595C64;
}
Sidebar .layui-side .layui-side-scroll .layui-nav.layui-nav-tree {
  width: 216px;
}
Sidebar .layui-side .layui-side-scroll .layui-nav.layui-nav-tree .layui-nav-bar {
  background-color: #0077D9;
}
Sidebar .layui-side .layui-side-scroll .layui-nav.layui-nav-tree .layui-this {
  background-color: #E5F1FB;
}
Sidebar .layui-side .layui-side-scroll .layui-nav.layui-nav-tree .layui-this a {
  background-color: #E5F1FB;
  color: #0077D9;
}
Sidebar .layui-side .layui-side-scroll .layui-nav .layui-nav-item a {
  color: #595C64;
  padding: 0 28px;
}
Sidebar .layui-side .layui-side-scroll .layui-nav .layui-nav-item a span {
  display: inline-block;
  padding-left: 8px;
}
Sidebar .layui-side .layui-side-scroll .layui-nav .layui-nav-item a:hover {
  background-color: #E5F1FB;
  color: #0077D9;
}
Main .layui-body {
  background-color: #F8F8F8 !important;
  bottom: 0 !important;
  left: 216px;
  padding-top: 20px;
  min-width: 480px;
}
Main .layui-body .layui-fluid {
  padding: 0 26px;
}
Main .layui-body .layui-fluid .layui-card .layui-card-body {
  padding: 28px;
}
.piday-popup {
  padding: 28px 0;
}
.piday-popup .popup-title {
  height: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #2B2C31;
  text-align: center;
  padding-bottom: 16px;
}
.layui-layer.layui-layer-page {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.layui-layer.layui-layer-page.piday-msg .layui-layer-content {
  height: 36px;
  line-height: 36px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  border: none;
  padding: 0 30px;
  font-size: 12px;
  color: #595C64;
}
.layui-layer.layui-layer-page.piday-msg .layui-layer-content .piday-icon {
  padding-right: 10px;
}
Main .layui-card .table-title {
  height: 38px;
  line-height: 38px;
  font-size: 20px;
  position: relative;
}
Main .layui-card .table-title::before {
  content: " ";
  border: 2px solid #FD2C14;
  border-radius: 2px;
  position: absolute;
  top: 17px;
  left: -8px;
}
Main .layui-card .table-title .piday-word-aux {
  font-size: 14px;
  color: #7B8099;
}
.piday-popup .dtree-laySimple-item cite {
  font-size: 14px!important;
  color: #595C64 !important;
}
.piday-popup .popup-body .popup-body-subtitle {
  height: 18px;
  font-size: 16px;
  padding-bottom: 14px;
  color: #2B2C31;
}
.piday-popup .popup-body .select-category {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 16px;
}
.piday-popup .popup-body .select-category #treeBox {
  margin-bottom: 16px;
}
.piday-popup .popup-body .select-subdivision {
  padding: 16px 0;
  display: none;
  border-bottom: 1px solid #E8E8E8;
}
.piday-popup .popup-body .select-business {
  display: none;
  padding: 16px 0;
}
.piday-popup .popup-body .select-business .layui-input-block {
  margin-left: 0;
}
.piday-popup .popup-body .select-business .business-search-select {
  min-height: 100px;
}
.piday-popup .popup-body .select-business .business-search-select p {
  display: inline-block;
  position: relative;
  background-color: #F0F1F2;
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  color: #595C64;
  margin: 0 10px 10px 0;
}
.piday-popup .popup-body .select-business .business-search-select p .piday-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: -5px;
  right: -5px;
  color: #D27C5D;
  cursor: pointer;
}
.piday-popup .popup-body .save-btn-box {
  display: none;
}
.piday-popup .popup-body .layui-word-aux.piday-error {
  display: none;
  color: #D27C5D !important;
}
