<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title> 页面名称 </title>
    <style type="text/css">
        #div {
            position: absolute;
            left: 100px;
            top: 100px;
            width: 200px;
            height: 200px;
            background-color: #f60;
        }
    </style>
</head>
<body>
<div id="div">
</div>

<script type="text/javascript">

    window.onload = function(){
        document.onclick = function(e){
            var target = e.target|| e.srcElement;
            setMove(target)
        }
    }

    function setMove(element){
        var dragFlag = false;
        var x,y;
        element.onmousedown = function (e) {
            console.log("down")
            e = e || window.event;
            x = e.clientX - div.offsetLeft;
            y = e.clientY - div.offsetTop;
            dragFlag = true;
        };

        document.onmousemove = function (e) {
            console.log("down")

            if (dragFlag) {
                e = e || window.event;
                div.style.left = e.clientX - x + "px";
                div.style.top  = e.clientY - y + "px";
            }
        };

        document.onmouseup = function (e) {
            dragFlag = false;
        };
    }


</script>
</body>
</html>