<Header>
    <div class="layui-header piday-bg-theme">
        <div class="layui-logo">
            <a href="/">
                系统集成
            </a>
        </div>
        <!-- 头部区域-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/public/image/defult-head.png" class="layui-nav-img">
                    <span><%= userName %></span>
                </a>
                <dl class="layui-nav-child">
                    <!--<dd><a href="">基本资料</a></dd>-->
                    <!--<dd><a href="">安全设置</a></dd>-->
                    <dd><a href="">登出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</Header>
