<Sidebar>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                <!--layui-nav-itemed 是展开的东西-->
                <li class="layui-nav-item">
                    <a href="javascript:;" class="layui-bg-black">工作流执行引擎</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/workflowEngine/workflowEngineDataSourceConfiguration">流程引擎数据源配置面板</a></dd>
                        <dd><a href="/workflowEngine/workflowEngineConfiguration">流程引擎配置面板</a></dd>
                        <dd><a href="/workflowEngine/workflowEngineManagement">工作流管理面板</a></dd>
                        <dd><a href="/workflowEngine/workflowEngineEdit">工作流编辑面板</a></dd>
                        <dd><a href="/workflowEngine/workflowEngineStatus">工作流状态监控</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="layui-bg-black">权限管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">权限一览</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="layui-bg-black">cms</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">上传下载</a></dd>
                        <dd><a href="">数据统计</a></dd>
                        <dd><a href="">文件预览</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="layui-bg-black">产品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">产品类目管理</a></dd>
                        <dd><a href="">产品列表</a></dd>
                        <dd><a href="">产品统计</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="layui-bg-black">用户</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">用户列表</a></dd>
                        <dd><a href="">用户详情</a></dd>
                        <dd><a href="">用户统计</a></dd>
                    </dl>
                </li>
            </ul>
<!--            &lt;!&ndash; 左侧导航区域&ndash;&gt;-->
<!--            <ul class="layui-nav layui-nav-tree" lay-filter="sidebar">-->
<!--                <li class="layui-nav-item">-->
<!--                    <a href="/">-->
<!--                        <svg class="icon piday-icon" aria-hidden="true">-->
<!--                            <use xlink:href="#icon-shouye1"></use>-->
<!--                        </svg>-->
<!--                        <span>首页</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="layui-nav-item">-->
<!--                    <a href="/configList">-->
<!--                        <svg class="icon piday-icon" aria-hidden="true">-->
<!--                            <use xlink:href="#icon-peizhi"></use>-->
<!--                        </svg>-->
<!--                        <span>配置列表</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="layui-nav-item">-->
<!--                    <a href="/comment">-->
<!--                        <svg class="icon piday-icon" aria-hidden="true">-->
<!--                            <use xlink:href="#icon-dianping"></use>-->
<!--                        </svg>-->
<!--                        <span>点评列表</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="layui-nav-item">-->
<!--                    <a href="/review">-->
<!--                        <svg class="icon piday-icon" aria-hidden="true">-->
<!--                            <use xlink:href="#icon-shenhe"></use>-->
<!--                        </svg>-->
<!--                        <span>审核列表</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="layui-nav-item">-->
<!--                    <a href="/report">-->
<!--                        <svg class="icon piday-icon" aria-hidden="true">-->
<!--                            <use xlink:href="#icon-baogao"></use>-->
<!--                        </svg>-->
<!--                        <span>查看列表</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
    </div>
</Sidebar>
