<!DOCTYPE html>
<html>
<head>
    <title>系统集成</title>
    <%- include('../common/pageConfig') %>
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/workflowEngineDataSourceConfiguration.css">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <%- include('../common/header') %>
    <%- include('../common/navigation') %>
    <Main>
        <div class="layui-body">
            <div id="create_datasource">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">数据源类型</label>
                        <div class="layui-input-inline">
                            <select name="datasource_type" lay-verify="required">
                                <option value=""></option>
                                <option value="0">mysql</option>
                                <option value="1">oracal</option>
                                <option value="2">mongo</option>
                                <option value="3">redis</option>
                                <option value="4">hive</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">取别名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="alias" required  lay-verify="required" placeholder="请输入此数据源别名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">ip地址</label>
                        <div class="layui-input-inline">
                            <input type="text" name="ip" required  lay-verify="required" placeholder="请输入ip" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">端口</label>
                        <div class="layui-input-inline">
                            <input type="text" name="port" required  lay-verify="required" placeholder="请输入ip:端口" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">登录用户</label>
                        <div class="layui-input-inline">
                            <input type="text" name="username" required  lay-verify="required" placeholder="请输入登录用户" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码框</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">文本域</label>
                        <div class="layui-input-block">
                            <textarea name="description" placeholder="请输入对此数据源的描述信息" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">对下级公开</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="publicFlag" lay-skin="switch">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </Main>
</div>

</body>
<%- include('../common/script') %>


<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        // form.on('submit(formDemo)', function(data){
        //     layer.msg(JSON.stringify(data.field));
        //     return false;
        // })

        //监听提交
        form.on('submit(formDemo)', function(data){
            data.field.userId = 'zifang'

            $.ajax({
                url:'http://localhost:8004/workflow_engine_configuration/create',
                type:'Post',
                data:JSON.stringify(data.field),
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success:function(data){
                    if(data){
                        layer.alert("提交成功！")
                        window.location.href = '/workflowEngine/workflowEngineDataSourceConfiguration'
                    }
                    else{
                        layer.alert("提交失败！")
                    }
                },
                error:function(e){
                    layer.alert("提交失败！")
                }
            })
            return false;
        });
    });
</script>

<!--<script>-->


<!--    layui.use(['form', 'layedit', 'laydate'], function(){-->
<!--        var form = layui.form-->
<!--            ,layer = layui.layer-->
<!--            ,layedit = layui.layedit-->
<!--            ,laydate = layui.laydate;-->

<!--        //日期-->
<!--        laydate.render({-->
<!--            elem: '#date'-->
<!--        });-->
<!--        laydate.render({-->
<!--            elem: '#date1'-->
<!--        });-->

<!--        //创建一个编辑器-->
<!--        var editIndex = layedit.build('LAY_demo_editor');-->

<!--        //自定义验证规则-->
<!--        form.verify({-->
<!--            title: function(value){-->
<!--                if(value.length < 5){-->
<!--                    return '标题至少得5个字符啊';-->
<!--                }-->
<!--            }-->
<!--            ,pass: [-->
<!--                /^[\S]{6,12}$/-->
<!--                ,'密码必须6到12位，且不能出现空格'-->
<!--            ]-->
<!--            ,content: function(value){-->
<!--                layedit.sync(editIndex);-->
<!--            }-->
<!--        });-->

<!--        //监听指定开关-->
<!--        form.on('switch(switchTest)', function(data){-->
<!--            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {-->
<!--                offset: '6px'-->
<!--            });-->
<!--            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)-->
<!--        });-->

<!--        //监听提交-->
<!--        form.on('submit(demo1)', function(data){-->
<!--            layer.alert(JSON.stringify(data.field), {-->
<!--                title: '最终的提交信息'-->
<!--            })-->
<!--            return false;-->
<!--        });-->

<!--        //表单赋值-->
<!--        layui.$('#LAY-component-form-setval').on('click', function(){-->
<!--            form.val('example', {-->
<!--                "username": "贤心" // "name": "value"-->
<!--                ,"password": "123456"-->
<!--                ,"interest": 1-->
<!--                ,"like[write]": true //复选框选中状态-->
<!--                ,"close": true //开关状态-->
<!--                ,"sex": "女"-->
<!--                ,"desc": "我爱 layui"-->
<!--            });-->
<!--        });-->

<!--        //表单取值-->
<!--        layui.$('#LAY-component-form-getval').on('click', function(){-->
<!--            var data = form.val('example');-->
<!--            alert(JSON.stringify(data));-->
<!--        });-->

<!--    });-->
<!--</script>-->

</html>
